

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

html {
  scroll-behavior: smooth;
}
body{
   margin: 0;
   padding: 0;
    
}
button{
   cursor: pointer;
}
h6{
   
   font-weight: 400;
   margin-bottom: 0;
   margin-top: 0;
   alignment-baseline:middle;
   text-align: center;
   text-wrap: balance;
}
h5{
   
   font-size: 20px;
   padding: 0;
}

h3{
   margin-bottom: 0;
   margin-top: 0;
}
.osn{
      background-image: url(imghz/1696362252_animals-pibig-info-p-morda-psa-oboi-59.jpg);
      width: auto;
      height: auto;
       margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    
}


@media (max-aspect-ratio: 1/1)
{
    .osn
    {
      
      max-width: 100%;
    }
}



.Heder{
   display: flex;
   width: 100%;
}
.logo{
    
    font-size: 2.6em;
    color:#F1CDB3;
    padding: 3vw;
     font-family: "Noto Sans Georgian", sans-serif;
     font-optical-sizing: auto;
     font-weight: 800;
     font-style: normal;
}

@media (max-aspect-ratio: 1/1)
{
    .logo
    {
        font-size: 2em;
        padding-right: 0%;

    }
}

.NAV{
   margin-left: 15vw;
   padding-top: 4.5vw;
   padding-left: 4.5vw;
   display: flex;
   gap: 2vw;
   font-weight: 700;
   font-size: 1.5em;
}

@media (max-aspect-ratio: 1/1)
{
    .NAV
    {
        font-size: 1em;
        margin-left: 0%;
        width: 50%;
        padding-right: 10%;
    }
}
a{
   text-decoration: none;
   color:#F1CDB3;
    font-family: "Noto Sans Georgian", sans-serif;
     font-optical-sizing: auto;
     font-weight: 800;
     font-style: normal;
     
}
a:hover{
   color: rgb(85, 99, 54) ;
   transition: color 0.4s linear;
}
.aboutPet{
     color:#F1CDB3;

}

.FirstText{
   padding-top: 15vh;
   padding-left: 5vw;
   text-align: left;
   font-family: "Noto Sans Georgian", sans-serif;
     font-optical-sizing: auto;
     font-weight: 700;
     font-style: normal;
     color:#F1CDB3;
     
     width: 30vw;
     text-wrap: balance;
    
}
@media (max-aspect-ratio: 1/1)
{
    .FirstText
    {
      
      width: 70vw;
    }
}
.zag{
  font-size: 3.5em;
}

@media (max-aspect-ratio: 1/1)
{
    .zag
    {
      font-size: 1.8em;
     
    }
}

.description{
margin-top: 5vh;
font-size: 1.4em;
text-wrap: balance;
}
@media (max-aspect-ratio: 1/1)
{
    .description
    {
      font-size: 1em;
      width: 70vw;
      text-shadow: 
        -0.5px -0.5px 0 black,
        0.5px -0.5px 0 black,
        -0.5px 0.5px 0 black,
        0.5px 0.5px 0 black;
             

    }
}

.take_away{
   margin-top: 10vh;
   margin-left: 5vw ;
   background-color: #F1CDB3;
   border-radius: 50px;
   width: 15vw;
   height: 10vh;
   color: #292929;
    font-family: "Noto Sans Georgian", sans-serif;
     font-optical-sizing: auto;
     font-weight: 600;
     font-style: normal;
     font-size: 1.5em;
     margin-bottom: 20vh;
}
@media (max-aspect-ratio: 1/1)
{
    .take_away
    {
      font-size: 1.2em;
      width: 35%;   
      height: 8vh;
    }
}
.About_Pets{
   width:100%;
   height: auto;
   background-color: white;
   display: flex;
   gap: 10vw;
   margin-bottom: 20vh;


}

@media (max-aspect-ratio: 1/1)
{
    .About_Pets
    {
      
    gap: 0;
    }
}
.whiteimg{
   padding-left: 20vw ;
   padding-top: 15vh;
   
}
@media (max-aspect-ratio: 1/1)
{
    .whiteimg
    {
    padding-left: 5%;
    width: 50%;  
    
    }
}

.whimg{
   width: 300px;
   height: auto;
}
@media (max-aspect-ratio: 1/1)
{
    .whimg
    {
    width: 80%;  
    height: auto;
    
    }
}

.AboutP{
    font-family: "Noto Sans Georgian", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     color: #292929;
     font-size: 35px;
     letter-spacing: 6%;
     width: 30vw;
     padding-top: 15vh;
     
}
@media (max-aspect-ratio: 1/1)
{
    .AboutP
    {
     width: 45%; 
    font-size: 20px;
    font-weight: 800;
    padding-right: 5%;
    
    }
}
.AboutPdop{
   font-size: 20px;
   text-wrap: balance;
   line-height: 1.6em;
}
@media (max-aspect-ratio: 1/1)
{
    .AboutPdop
    {
    font-size: 15px;
    font-weight: 400;
    
    
    }
}

.PETS{
  background-color: #f0f0f0;
   color: #292929;
    font-family: "Noto Sans Georgian", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-size: 35px;
     width: 100%;
     height: auto;
     
     
}

.zag2{
   padding-top: 5vh;
   text-align: center;
   text-wrap: balance;
}
@media (max-aspect-ratio: 1/1)
{
    .zag2
    {
    font-size: 25px;
    font-weight: 800;
    
    }
}
.choice{
   margin-top: 15vh;
   display: flex;
   gap: 15vw;
   width: auto;
   margin-left: 10%;
   margin-bottom: 20vh;
   margin-right: 10% ;   /*12.344vw*/
   
   
}
@media (max-aspect-ratio: 1/1)
{
    .choice
    {
    flex-direction: column;
    justify-content: center;
    align-items: center;
      
    }
}
.ch_1{
    background-color: #FAFAFA;
    font-family: "Noto Sans Georgian", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-size: 20px;
     line-height: 100%;
     letter-spacing: 6%;
     border-radius: 30px;
    
     
}
@media (max-aspect-ratio: 1/1)
{
    .ch_1
    {
    
      font-size: 20px;
    
    
    }
}
.photo_Pets{
     max-width: 100% ;
     height: auto;
     margin-bottom: 10%;
     border-radius: 30px;
}
.ch1{
   position: relative;
    background-color: #FAFAFA;
   width: 28%;
   height: auto;  /*43.5vh*/
    border-radius: 40px;  
  
}
@media (max-aspect-ratio: 1/1)
{
    .ch1
    {
    width: 50%;
    
    }
}
article{
 
 background-color: #FAFAFA;
}

.NameP{
   text-align: center;
   margin-bottom: 20%;
   color: #292929;
   font-size: 1.1em;
   
}
.all_info{
  
   font-family: "Noto Sans Georgian", sans-serif;
     font-optical-sizing: auto;
     font-weight: 600;
     font-style: normal;
     font-size: 0.8em;
     border-radius: 50px;
     padding: 5%;
     
     border-color: #F1CDB3;
     color: #292929;
     background-color: #FAFAFA;
}
.help_Shelters{
   background-color: #FAFAFA;
   color: #292929;
    font-family: "Noto Sans Georgian", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-size: 35px;
     width: 100%;
     height: auto;
     padding-bottom: 20vh;
     display: grid;
     justify-content: center;
}
@media (max-aspect-ratio: 1/1)
{
    .help_Shelters
    {
    
    
    }
}
.zag3{
   
   text-wrap: balance;
   text-align: center;
   padding-top: 5vh;
    font-size: 25px;
    font-weight: 800;
    padding-left: 10%;
    padding-right: 10%;
}

.modal{
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100vh;
   z-index:999;
   background-color: rgba(0, 0, 0, .3 green, blue, alpha);
   display: grid;
   align-items: center;
   justify-content: center;
   overflow-y: auto;
   visibility: hidden;
   opacity: 0;
   transition: opacity .4s, visibility .4s;
}
.modal_box{
   position: relative;
   max-width: 500px;
   padding: 30px;
   z-index: 1;
   margin-left: 10%;
   margin-right: 10%;
   background-color: #F1CDB3;
   box-shadow: 2px 13px 11px 11px rgba(34, 60, 80, 0.2);
   transform: scale(0);
   border-radius: 45px;
   transition: transform .8s;
   
   line-height: 1.5em;
   margin-top: 5%;
   margin-bottom: 5%;
   font-size: 20px;
   text-wrap: balance;
   line-height: 1.6em;
}

.modal.open{
   visibility: visible;
   opacity: 1;
}
.modal.open .modal_box{
   transform: scale(1);

}
@media (max-aspect-ratio: 1/1)
{
    .modal.open .modal_box
    {
    transform: scale(0.6);
    font-size: 30px;
    width: 100%;
    align-items: center;
    justify-self: center;
    
    }
}
.modal_close-btn{
 position: relative;
 border: none;
 background-color: transparent;
 cursor: pointer;
 left: 45%;
}
.cart{
   border-radius: 45px;
}

h2{
   font-weight: 800;
}
.imsvg{
   display: block;
   margin: auto;
}

.svg_img_1str{
   margin-top: 15vh;
   display: flex;
   gap: 5vw;
   width: auto;
   margin-bottom: 20vh;
}
@media (max-aspect-ratio: 1/1)
{
    .svg_img_1str
    {
    font-size: 30px;
    gap:15vw;
    flex-direction: column;
    margin-bottom: 10vh;
    }
}

.Pet_food{
   position: relative;
   margin-left: 0;
   min-width: 10vw;
    
}

.svg_img_2str{
 display: flex;
   gap: 5vw;
  width: auto;
   margin-left: 10%;
}
@media (max-aspect-ratio: 1/1)
{
    .svg_img_2str
    {
    font-size: 30px;
    gap:15vw;
    flex-direction: column;
    margin-left: 0;
    
    }
}
.donat{
   display: flex;
   gap: 5vw;
    padding-top: 20vh;
   background-color: #F6F6F6;
   padding-bottom: 15vh; 
   color: #292929;
    font-family: "Noto Sans Georgian", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-size: 35px;
     width: 100%;


}
@media (max-aspect-ratio: 1/1)
{
    .donat
    {
    gap: 5%;
    flex-direction: column;
    font-size: 20px;
    padding-top: 15vh;
    align-items: center;
    justify-content: center;
    
    }
}
.Don_dog{
  
   padding-left: 15vw;
}
@media (max-aspect-ratio: 1/1)
{
    .Don_dog
    {
   padding-left: 5%;
    order: 2;
    
    }
}
.donat_img{
   max-width: 50vw;
   height: auto;
}
@media (max-aspect-ratio: 1/1)
{
    .donat_img
    {
    width: 100%;
    
    }
}
.Op_donat{
text-wrap: balance;
   text-align: center;
   width: 30vw;
   text-align: left;
   
}
@media (max-aspect-ratio: 1/1)
{
    .Op_donat
    {
    width: auto;
    padding-left: 15%;
    padding-right: 15%;
    justify-self: center;
    text-align: center;
    
    }
}
.min_tx_dn{
   font-size: 20px;
}
@media (max-aspect-ratio: 1/1)
{
    .min_tx_dn
    {
    font-size: 12px;
    
    }
}
.rec{
   display: flex;
   gap:2vw;
   border-radius: 10px;
   background-color: #F1CDB3;
   padding: 2%;
   font-size: 20px;
   max-width: 60%;
   margin-bottom: 20vh;
}
@media (max-aspect-ratio: 1/1)
{
    .rec
    {
    justify-self: center;
    margin-bottom: 10vh;
    max-width: 80%;
    font-size: 17px;
    }
}
footer{
   background-color: #1A1A1C;
   
   color: #F1CDB3;
   font-family: "Noto Sans Georgian", sans-serif;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-size: 28px;
     width: 100%;
     height: auto;
     overflow: hidden;
     
     
}

.Fot_group{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr ;
   margin-left: 5%;
   gap: 3%;
   padding-top: 10vh;
    
     text-wrap: balance;
}
@media (max-aspect-ratio: 1/1)
{
    .Fot_group
    {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    }
}
.stolb1{
 
}
@media (max-aspect-ratio: 1/1)
{
    .stolb1
    {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
    }
}
.st_1{
   display: grid;
   width: 50%;
   gap: 0.5vw;
   grid-template-columns: 1fr 1fr;
   justify-items: end;    /* горизонтально справа */
    align-items: center;
   margin-top: 10vh;
   
   
}
@media (max-aspect-ratio: 1/1)
{
    .st_1
    {
    width: 60%;
    justify-items: center ;
    }
}

.centr{
   
}
@media (max-aspect-ratio: 1/1)
{
    .centr
    {
    text-align: center;
    font-size: 23px;
    padding-left: 15%;
    padding-right: 15%;
    }
}

.st_1 svg{
   
   
   display: block !important;
}

.pochta{
   font-size: 20px;
   
}
.questions_waiting{
   display: flex;
   gap: 10vw;
   width: 50vw;
   
}
.email_adres1{

   display: grid;
   gap: 10vw;
   width: 50vw;
   margin-left: 5%;
   padding-top: 10vh;
     padding-bottom: 20vh;
     text-wrap: balance;
}

.email{
   display: flex;
   gap: 10%;
}
.icon_email{
  
  height: auto;
}

.footer_puppy{
   display: grid;
   
  align-items: end; /* Прижимает к низу */
  max-width: 100%;
}
@media (max-aspect-ratio: 1/1)
{
    .footer_puppy
    {
    justify-content: center;
    }
}